Options +FollowSymLinks

AddDefaultCharset utf-8
AddCharset utf-8 *
<IfModule mod_charset.c>
    CharsetSourceEnc utf-8
    CharsetDefault utf-8
</IfModule>

#IndexIgnore */*
RewriteEngine on
RewriteBase /

RedirectMatch 404 /\\.[sS][vV][nN](/|$)

#RewriteCond %{REQUEST_URI} !.*clearcache.*
#RewriteCond %{REQUEST_URI} !.*payments.*
#RewriteCond %{REQUEST_URI} !.*auth.*
#RewriteCond %{REQUEST_URI} !.*connect.*
#RewriteCond %{REQUEST_URI} !.*index.php
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php [L]